.changedStyle
{
	background: black;
}

.changedStyle  > p 
{
	background: blue;
	color: white;

}

.changedStyle > .again
{
	width: 300px;
	height: 400px;
}

.testStylingClass 
{
	border-left: 3px;
	border-right: 3px;
	border-top: 3px;
	border-bottom: 3px;
	padding: 5px;
	background-color: black;
}